
<div class="home-container">

  <p>search participant</p>

  <p>open decision</p>

  <div class="btn btn-main">
    <a routerLink="/decision/new"  routerLinkActive="active">Create new</a>
  </div>


</div>
