
<div class="decision-container" >
  <div class="nav">
    <div class="nav-btn btn-back">
      <a routerLink="/" routerLinkActive="active"><</a>
    </div>
    <div class="nav-btn" [class.active]="activeMenuTab === 'overview'"  (click)="menuTabChange('overview')">
      <span>overview</span>
    </div>
    <div class="nav-btn"  [class.active]="activeMenuTab === 'participants'"  (click)="menuTabChange('participants')">
      <span>participants</span>
    </div>
  </div>

  <div class="">
    <div class="participants-wrapper" *ngIf="activeMenuTab === 'participants'">
      <h2>Participants</h2>
      <div class="participant-list">

        <p *ngFor="let participant of decisionData.participants" >
          <span>name: {{participant.name}}</span>
          <br>
          <span>id:</span>
          <span>{{participant.id}}</span>
        </p>

      </div>
    </div>
    <div class="overview-wrapper" *ngIf="activeMenuTab === 'overview'">
      <h2>Overview</h2>
      <p>
        <span>id:</span><span>{{decisionData.id}}</span>
      </p>
      <p>
        <span>name:</span><span>{{decisionData.name}}</span>
      </p>
      <p>
        <span>statusFinished:</span><span>{{decisionData.status.finished}}</span>
      </p>
      <p>
        <span>content:</span><span>{{decisionData.content}}</span>
      </p>
    </div>
  </div>

</div>
